<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGendary</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <header class="display-flex justify-space-between align-end has-background-info">
        <h1 class="title is-1 title-strong-weight is-primary">BLOGendary</h1>
        <h2 class="subtitle is-5">Life is a Story, and This is Your Book</h2>
        <div class="navbar">
            <nav class="navbar-menu has-background-info">
                <a href="/" class="navbar-item"><button class="button is-link" id="home">Home</button></a>
                <a href="/dashboard" class="navbar-item"><button class="button is-link" id="dashboard">Dashboard</button></a>
                {{#if logged_in}}
                    <button class="button is-link navbar-item" id="logout">Logout</button>
                {{/if}}
                {{#unless logged_in}}
                    <a href="/login" class="navbar-item"><button class="button is-link" id="login">Login</button></a>
                {{/unless}}
            </nav>
        </div>
    </header>

    <main class="container container-fluid mt-5">
        {{{body}}}
    </main>
    <footer>

    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
<script src="/js/login.js"></script>
</body>


</html>