<h1 class="title has-text-centered">Your Bookshelf</h1>

{{#each blogPosts }}
<div class="row align-center mb-5">
    <div class="col-md-12">
        <h2>{{title}}</h2>
        <h6>{{date_created}}</h6>
    </div>
    <hr />
    <div class="row align-center mb-5">
        <div class="col-md-12">
            <p>{{content}}</p>
        </div>
    </div>
</div>
<div>
    <a href="/editblogpost">+ Edit Your Story</a>
</div>
{{/each}}

<div>
    <a href="/createblogpost">+ Create a New Story</a>
</div>