{{#each blogPosts as |blogPost|}}
<div class="has-text-centered">
    <div class="has-text-centered">
        <h2 class="title"><a href="api/blogPost/{{id}}">{{title}}</a></h2>
        <h6 class="subtitle">{{format_date date_created}}</h6>
    </div>
    <div>
        <h4 class="has-text-right">{{user.name}}</h4>
        </div>
        </div>
        {{/each}}
